<?xml version="1.0"?>

<launch>



    <arg name="th1" default= "0"/>
    <arg name="th2" default= "0"/>
    <arg name="a_j1" default= "0"/>
    <arg name="a_j2_s1" default= "0"/>
    <arg name="a_j2_s2" default= "0.6"/>
    <arg name="a_j2_s3" default= "-0.6"/>
    
    <param name="th1" value="$(arg th1)" />
    <param name="th2" value="$(arg th2)" />
    <param name="a_j1" value="$(arg a_j1)" />
    <param name="a_j2_s1" value="$(arg a_j2_s1)" />
    <param name="a_j2_s2" value="$(arg a_j2_s2)" />
    <param name="a_j2_s3" value="$(arg a_j2_s3)" />
    
    <node pkg="people_perception" type="PeoplePerceptionServer.py" name="peopleperception_server" output="screen"/>
    <!-- <node pkg="people_perception" type="PeopleDetection_actionclient.py" name="peopleperception_client" output="screen"/> -->
    
   
</launch>